streamlit
pydub
whisper
openai
nltk
transformers
torch
sentencepiece
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
google-api-python-client
yt-dlp
git+https://github.com/openai/whisper.git


